In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('MRSMAP.RRF', sep = '|', names = ['a', 'b', 'c', 'blank1','loinc', 'd', 'e', 'cpt', 'f', 'g'])

In [8]:
df.head(20)

                         a   b        c blank1 loinc   d      e   cpt   f   g
C1704201 LNC  ATX104051019 NaN   1007-4   CODE    RN NaN  86880  CODE NaN NaN
         LNC  ATX104051020 NaN  10334-1   CODE    RN NaN  86304  CODE NaN NaN
         LNC  ATX104051021 NaN  10338-2   CODE    RN NaN  82205  CODE NaN NaN
         LNC  ATX104051022 NaN  10343-2   CODE    RN NaN  80154  CODE NaN NaN
         LNC  ATX104051023 NaN  10351-5   CODE    RN NaN  87536  CODE NaN NaN
         LNC  ATX104051024 NaN  10365-5   CODE    RN NaN  83887  CODE NaN NaN
         LNC  ATX104051025 NaN  10366-3   CODE    RN NaN  83887  CODE NaN NaN
         LNC  ATX104051026 NaN  10501-5   CODE    RN NaN  83002  CODE NaN NaN
         LNC  ATX104051027 NaN  10535-3   CODE    RN NaN  80162  CODE NaN NaN
         LNC  ATX104051028 NaN  10676-5   CODE    RN NaN  87522  CODE NaN NaN
         LNC  ATX104051029 NaN  10839-9   CODE    RN NaN  84484  CODE NaN NaN
         LNC  ATX104051030 NaN  10886-0   CODE    RN NaN  84154  CODE NaN NaN
         LNC  ATX104051031 NaN  10894-4   CODE    RN NaN  86606  CODE NaN NaN
         LNC  ATX104051032 NaN  10896-9   CODE    RN NaN  86652  CODE NaN NaN
         LNC  ATX104051033 NaN  10900-9   CODE    RN NaN  86706  CODE NaN NaN
         LNC  ATX104051034 NaN  10919-9   CODE    RN NaN  86003  CODE NaN NaN
         LNC  ATX104051035 NaN  10920-7   CODE    RN NaN  86003  CODE NaN NaN
         LNC  ATX104051036 NaN  10921-5   CODE    RN NaN  86003  CODE NaN NaN
         LNC  ATX104051037 NaN  10922-3   CODE    RN NaN  86003  CODE NaN NaN
         LNC  ATX104051038 NaN  10923-1   CODE    RN NaN  86003  CODE NaN NaN

In [9]:
df.shape

(2018, 10)

In [10]:
df_map = df[['c', 'e']]

In [15]:
df_map.reset_index(drop = True, inplace = True)
df_map.rename(columns = {'c':'loinc', 'e':'cpt'}, inplace = True)
df_map.head(20)

/Users/michaelli/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

      loinc    cpt
0    1007-4  86880
1   10334-1  86304
2   10338-2  82205
3   10343-2  80154
4   10351-5  87536
5   10365-5  83887
6   10366-3  83887
7   10501-5  83002
8   10535-3  80162
9   10676-5  87522
10  10839-9  84484
11  10886-0  84154
12  10894-4  86606
13  10896-9  86652
14  10900-9  86706
15  10919-9  86003
16  10920-7  86003
17  10921-5  86003
18  10922-3  86003
19  10923-1  86003

In [19]:
df_map.iloc[2005,:]

loinc          882-1
cpt      86900,86901
Name: 2005, dtype: object

In [ ]:
df_map.append(df_map.iloc[2005,:], ignore_index =True)

In [16]:
df_map.to_csv('loinc_cpt_mapping.csv', sep = ',', index = False)